
# Run npm init creates package.json which defines the
# haters
# entry point as index.js



#ignore packages installed by npm
node_modules
*~
.DS_Store


# Create a Git repository with git init
# Add files with 'git add -A' in the terminal
# Commit the changes with 'git commit -m "Initial Commit"'
#Then->
#If you havent done this once already, add the origin
#git remote add origin https://github.com/jpizzitola/netbakedbeans.git
#To actually push to github->
#git push -u origin master
