<div class="page-header">
  {{>bsnavbar2}}
<h3>About Us</h3>
<br><br>
At Crimson video we strive to bring the latest and greatest in movies to the customer at a fair and reasonable price. MORE TO BE DETERMINED
</div>
