<div class="page-header">
  {{>bsnavbar2}}
  <style>
      * {
   color: white;
  }
  input{
    color : black;
  }
  td {
  color: black;
  }
  </style>
<h3>About Us</h3>
<br><br>
At Crimson video we strive to bring the latest and greatest in movies to the customer at a fair and reasonable price. Project created by Netbakedbeans, a team consisting of Andrew Morton, John Pizzitola, Jonathan Phillips and Patrick Markey.
</div>
