<div class="page-header">
  {{>navbaradmin}}
  <style>
      body: {
   color: white;
  }
  td: {
  color: black;
  }
  </style>
<h3>Add Employee</h3>
<form class="form-horizontal"  method = "post">

<div class="form-group">

    <label class="control-label" for="firstname">First Name:</label>
    <input name="fname" required="true" class="form-control" id="fname" value=""/>
</div>

<div class="form-group">

    <label for="lastname">Last Name:</label>
    <input name="lname"  required="true" class="form-control" id="lname" value=""/>
</div>

    <input name="addr" type="hidden" id="addr" value="employee"/>


<div class="form-group">

    <label for="email">Email:</label>
    <input name="email" required="true" class="form-control" type="email" id="email" value=""/>
</div>

<div  class="form-group">

    <label for="password">Password:</label>
    <input name="password" required="true"  class="form-control" type="password" id="password" value=""/>
</div>

    <input name="ccnum" type="hidden" id="ccnum" value="employee"/>

    <input name="expdate" type="hidden" id="expdate" value="employee"/>

    <input name="ccv" type="hidden" id="ccv" value="employee"/>

<input name="admin" type="hidden" value="1"/>

<button type="submit" class="btn btn-default"> Register New Employee </button>
</form>


</div>
