<div class="page-header">

<style>
      * {
   color: white;
  }
  input{
    color : black;
  }
  td {
  color: black;
  }
  </style>


<h3>Receipt</h3>


  {{#each movies}}
  <body onload="getPrice();"></body>
<table bgcolor="grey" cellpadding="10">

  <tr>
    <th bgcolor="black">Title</th>
    <th bgcolor="black">Description</th>
    <th bgcolor="black">Price</th>
  </tr>

<tr>
  <td bgcolor="grey" width="15%">{{this.title}}</td>
  <td bgcolor="grey" width="45%">{{this.description}}</td>
  <td bgcolor="grey" width="15%">{{this.rental_rate}}</td>
</tr>
</table>

{{/each}}

<br><br>
<strong>Order Total:</strong>
<p id="price"> </p>
<br><br>

<form method="post" action="goHome">
    <button  type="submit"class="btn btn-default">  Return to Home  </button>
</form>



<script>

	function getPrice(){
		var checkoutPrice = 0;
		{{#each movies}}

		checkoutPrice += {{this.rental_rate}}
		document.getElementById("price").innerHTML = checkoutPrice.toFixed(2);
			{{/each}}
	}

</script>
