<div class="page-header">
  {{>bsnavbar2}}
  <style>
    * {
 color: white;
}
</style>
<h3>Welcome Back (user's name goes here)</h3>
<form action="/cart" method="get">
<button type="submit" class="btn btn-default"> Goto Cart! </button>
</form>
<br><br>
<form action="/movies" method="get">
<button type="submit" class="btn btn-default"> Rent Movies! </button>
</form>
</div>
