<div class="page-header">
<h3>Welcome to Crimson Video</h3>
<h2> Login </h2>
<br><br>
<form action ="/">
User name: <input type="text" required="true" name="username"><br><br>
Password: <input type="password"  required="true" name="password"><br><br>
<input type="submit" value="Login">  
</form>
<form action="/register">
    <input type="submit" value="Register" />
</form>
</div>  
