<div class="page-header">
<style>
    * {
 color: white;
}
</style>
<h3 ><img src="/img/icon_cv.png"> Welcome to Crimson Video</h3>
<h2> Login </h2>
<br><br>
<div class="alert alert-danger">
  <strong>Login unsuccessful!</strong> That email does not exist!.
</div>
<form action ="/customer">
User name: <input type="text" required="true" name="username"><br><br>
Password: <input type="password"  required="true" name="password"><br><br>
<input type="submit" value="Login">  
</form>
<form action="/register">
    <input type="submit" value="Register" />
</form>
</div>  
