<div class="page-header">
  {{>bsnavbar2}}
<style>
      * {
   color: white;
  }
  input{
    color : black;
  }
  td {
  color: black;
  }
  </style>
<h3>NOT YET Successfully Logged Out</h3>
<br><br>

</div>
