<div class="page-header">
<h3>Register new account</h3>
<form  method = "post">
 
<div>
	
    <label for="firstname">First Name:</label>
    <input name="fname" id="fname" value="">
</div>
 
<div>

    <label for="lastname">Last Name:</label>
    <input name="lname" id="lname" value="">
</div>

<div>

    <label for="address">Address:</label>
    <input name="addr" id="addr" value="">
</div>
 
<div>

    <label for="email">Email:</label>
    <input name="email" id="email" value="">
</div>
 
<div>
	
    <label for="password">Password:</label>
    <input name="pass" id="pass" value="">
</div>
<div>
    
    <label for="ccnum">Credit Card Number:</label>
    <input name="ccnum" id="ccnum" value="">
</div>
<div>
    <label for="expdate">Expiration Date:</label>
    <input name="expdate" id="expdate" value="">
</div>
<div>
    <label for="ccv">CCV Number:</label>
    <input name="ccv" id="ccv" value="">
</div>

<input type="submit" value="Register New Account">  
</form>


</div>  
