<div class="page-header">
<h3>Register</h3>
<form action ="/">
User name: <input type="text" name="username"><br><br>
Password: <input type="text" name="password"><br><br>
Confirm Password: <input type ="text" name="confirmpassword"><br><br>
MORE STUFF TO COME
<input type="submit" value="Register New Account">  
</form>


</div>  
