<div class="page-header">
  {{>navbaradmin}}
  <style>
      body: {
   color: white;
  }
  td: {
color: black;
}
  </style>
{{# each sales}}
</style>
<h3>Sales Report</h3>
<br><br>
<br>Total Revenue:{{this.revenue}}<br>
<br>Total Movies Rented:{{this.numSold}}<br>
{{/each}}



</div>
